build/
abi/
bin/
artifacts/

remixd.log

node_modules/
npm-debug.log
package-lock.json

coverage/
test/

.vscode/
.idea/
.DS_Store
Thumbs.db

.env

deployments/

.pnpm-debug.log
pnpm-lock.yaml
yarn-debug.log
yarn-error.log
yarn.lock

test-coverage/
